* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#pantalla {
  width: 100vw;
  height: 100vh;
  background-color: #222;
  overflow: hidden;
  z-index: 0;
}

.nau {
  position: absolute;
  z-index: 1;
}

.jugador {
 background-image: url("/img/nave2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; 
  
  
}
.laser {
  position: absolute;
  background-color: red;
  width: 12px;
  height: 6px;
  border-radius: 2px;
  z-index: 2;
}

.asteroide {
  position: absolute;
  background-image: url("/img/asteroide.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#infoPartida {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.25rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
  z-index: 2;
}

#infoPartida > p {
  margin: 0.25rem;
}