#jugador{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 120px;
    height: 120px;
    background-color: blueviolet;

}

#enemic1, #enemic2, #enemic3{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: aqua;
}

#enemic1 {
    top: 50px;
}

#enemic2 {
    top: 250px;
}

#enemic3 {
    top: 450px;
}

.enemic {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: aqua;
}
.boss {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}
