@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #111; /* Fondo oscuro del login */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.border {
  position: relative;
  width: 500px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10%;
}

.login {
  position: absolute;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}   

.login h2 {
  font-size: 2em;
  color: #fff;
  height: 15%;
}

.login .inputBx {
  position: relative;
  width: 100%;
  height: 13%;
  margin-bottom: 10px;
}

.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.2em;
  color: #fff;
  box-shadow: none;
  outline: none;
}

.login .inputBx input[type="submit"] {
  width: 100%; 
  padding: 15px;
  border: none;
  border-radius: 40px; 
  font-size: 1.2em;
  font-weight: bold;
  color: #111; 
  cursor: pointer;
  transition: opacity 0.3s ease;
  background: linear-gradient(45deg, #e4ff35, #72ff91);
}

.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #fff;
  text-decoration: none;
}